#hangman-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 45vh);
  height: 90vh;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  width: 100%;
}
