#letter-buttons-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(13, 1fr);
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
}

.letter-button {
  cursor: pointer;
  font-size: x-large;
}

.letter-button:hover {
  background-color: black;
  color: lightgray;
}
