#modal {
	background-color: var(--medium-color);
  border-radius: 10px;
  color: var(--lightest-color);
  display: none;
  height: 50%;
  left: 50%;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

#modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 100%;
}

#modal-submit-btn {
	background-color: var(--lightest-color);
  border: 1px solid var(--lightest-color);
	border-radius: 10px;
	color: var(--dark-color);
	cursor: pointer;
	font-weight: bold;
	margin: 0 auto;
	padding: 5px 10px;
	width: fit-content;
}

#modal-submit-btn:hover {
  background-color: var(--dark-color);
  color: var(--lightest-color);
}
