#canvas {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

#canvas-img {
  background-size: contain;
  height: 45vh;
  margin: auto;
  width: 45vh;
}

.error-0 {
  background: url("../../assets/images/e0.png") no-repeat;
}

.error-1 {
    background: url("../../assets/images/e1.png") no-repeat;
  }

.error-2 {
    background: url("../../assets/images/e2.png") no-repeat;
  }

  .error-3 {
    background: url("../../assets/images/e3.png") no-repeat;
  }

  .error-4{
    background: url("../../assets/images/e4.png") no-repeat;
  }

  .error-5 {
    background: url("../../assets/images/e5.png") no-repeat;
  }

  .error-6 {
    background: url("../../assets/images/e6.png") no-repeat;
  }

  .error-7 {
    background: url("../../assets/images/e7.png") no-repeat;
  }

  .error-easy {
    background: url("../../assets/images/easy.png") no-repeat;
  }
