:root {
  --dark-color: #265073;
  --medium-color: #2D9596;
  --light-color: #9AD0C2;
  --lightest-color: #ECF4D6
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main container */
#container {
	background-color: var(--dark-color);
	display: flex;
	height: 100vh;
	width: 100vw;
}
